html, body {
    font-family: "source-sans-3", sans-serif;
    font-weight: var(--fw-normal);
}

header {
    padding: var(--m);
    background-color: var(--color-white);
}

main {
    background-color: var(--color-grey);
}

h2 {
    padding-top: var(--m);
    margin-bottom: var(--m);
    margin-left: var(--m);
    font-size: var(--xl);
    font-weight: var(--fw-bold);
}

